.circle-wrapper {
  background-color: lightblue;
  height: 500px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.circle {
  --circle-size: 50px;

  background-color: cadetblue;
  border-radius: var(--circle-size);
  height: var(--circle-size);
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  width: var(--circle-size);
}

.buttons-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
